* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #01d8d8;
}

.input-name {
  display: block;
  margin: 10px;
  text-align: center;
}

.input-name input {
  height: 2em;
  text-align: center;
  width: 30em;
}

.search-number {
  text-align: center;
}

.filter-numeric {
  margin: 5px 10px;
  padding: 2px 10px;
}

.tabela {
  border-collapse: collapse;
  margin-top: 10px;
  width: 100vw;
}

.tabela td, .tabela th {
  border: 1px solid #004040;
  font-size: 16px;
  padding: 12px 15px;
  text-align: center;
}
